.toolbar{
	background-color: #f5f5f5;
}
.toolbar>div{
	display: inline-block;
}
.toolbar a,
.toolbar a:hover,
.toolbar a:focus{
	color: #333;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
}
.haoEditor{
	width: 500px;
}
.haoEditor textarea { display: none; }
.haoEditor div[contenteditable="true"]:focus{
	box-shadow: none;
	outline: none;
}
.haoEditor div[contenteditable="true"]{
	height: 200px;
	border: 1px solid #333;
	padding: 10px;
	display: inline-block;
	width: 100%;
}
.toolbar>div{
	position: relative;
}
.toolbar .hao_formats { 
	display: none;
	position: absolute;

}
.toolbar .hao_formats>a{
	display:block;
	cursor: pointer;
}
.toolbar .hao_formats>a:hover{
	background-color: #999;
}